@media (max-width: 1220px){
    .img-wrapper{
        width: 30%;
        height: 50%;
    }
    .soft{
        margin-left: 100px;
    }
}

@media (max-width: 980px){

    .soft{
        margin-left: 20%;
    }
    .title h3{
        padding-inline: 40px !important;
    }
    #A-img{
        margin-top: -10%;
        text-align: center;
    }
    .img-wrapper{
        height: 500px;
    }   
    .img-wrapper::after{
        margin-top: 60px;
        content: "";
        position: absolute;
        top:40%;
        left: 0;
        width: 100%;
        height: 50% ;
        background-color: rgb(110, 110, 110);
        animation: overlay-2 ease-in-out 3s;
        animation-fill-mode: forwards;
    }
    @keyframes img {
    50%{
        transform: scale(2.4);
    }
    100%{
        transform: scale(1.1);
    }
    }
}
@media (max-width: 840px){
    .soft{
        width: 45%;
        margin-right: 27% !important;
    }
    .img-wrapper{
        width: 80%;
        height: 400px;
        margin-right: 61px;
        margin-top: 180px;
    }  
    .line {
       margin-right: 60px;
       border-radius: 20px;
    }
    #Main-2{
        margin-left: 9%;
    } 
    .sec{
        margin-top: 10%;
        margin-right: 2%;
        width: 85%;
        font-size: 15px !important;
    }
    .sec-2{
        margin-top: 10%;
        margin-right: 2%;
        width: 85%;
        font-size: 15px !important;
    }
    #sec-3{
        margin-top: 10%;
        margin-right: 2%;
        width: 85%;
        font-size: 15px !important;
    }
}
@media (max-width: 800px){
    .soft{
        margin-left: 240px;
    }
}
@media (max-width: 760px){
    .soft{
        margin-left: 210px;
    }
}
@media (max-width: 700px){
    .soft{
        margin-left: 180px;
    }
}
@media (max-width: 660px){
    .soft{
        margin-left: 160px;
    }
}
@media (max-width: 610px){
    .soft{
        margin-left: 120px;
    }
}
@media (max-width: 540px){
    .soft{
        margin-left: 90px;
    }
}
@media (max-width: 500px){
    #Main{
        margin-top: 60% !important;
    }
    #main-menu{
        font-size: 10px;
    }
    #main-menu li {
        max-width: 20%;
    }
}